/* Your CSS code goes here */
  h1 {
    color: whitesmoke;
    text-decoration: underline;
    background-color: #C8A2C8; 
    }
    h3 {
      font-size: 50px;
      font-weight: bold;
      color: grey;
    }